@use "../custom" as *;

#about {
  margin-top: 100px;
}

// styles.scss
#about {
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    width: 100%;
    max-width: 800px; // Adjust the max-width as needed
  }

  .col-lg-6 {
    text-align: center;
  }
}

.center-text {
  text-align: center;
}
// Your custom styles
#section-counter {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box; /* Include border and padding in the element's total width and height */
  margin: auto; /* Center-align the element horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  margin-bottom: 200px;

  .container {
    padding: 100px 0; // Adjust the padding as needed

    .text {
      color: $black; // Text color
      font-size: 24px; // Adjust the font size as needed

      span {
        display: block;
        font-size: 18px; // Adjust the font size as needed
        margin-top: 10px; // Adjust the margin as needed
      }
    }
  }
}

// Add your other styles as needed
